body {
 margin: 0, auto;
 background-color: #F0F8FF;
 height: 700px;
}

#calculator {
 margin: auto;
 margin-top: 65px;
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 flex-wrap: wrap;
 width: 850px;
 height: 650px;
 box-shadow: 2px 2px 15px 2px #2F4F4F;
 border: 5px solid #525C65;
}

#calculator button {
 font-family: "Passion One", Helvetica, sans-serif;
 font-size: 30px;
 border: 1px solid #525C65;
 background-color: #42647F;
 box-shadow: inset 1px 1px 5px #2F4F4F;
 text-shadow: 1px 1px 2px #2F4F4F;
 color: #E0EEEE;
 width: 20%;
 height: 20%;
}

#calculator .clear {
 background-color: #4682B4
}

#calculator .memory {
 background-color: #4682B4;
}

#calculator .modulo {
 height: 20%;
 width: 20%;
}

#calculator .sqroot {
 height: 20%;
 width: 20%;
}

#calculator .operator {
 background-color: #F0F8FF;
 color: #525C65 ;
}

.display {
 font-family: "Passion One", Helvetica, sans-serif;
 border: 1px solid #2F4F4F;
 background-color: #E0EEEE;
 box-shadow: inset 0px 0px 10px #2F4F4F;
 width: 59.765%;
 height: 19.7%;
 overflow: scroll;
}

.display_value {
 margin: 0;
 color: #2F4F4F;
 font-size: 25px;
 text-align: right;
 padding: 5px 25px;
 word-wrap: break-word;
}

.display_eval {
 margin: 0;
 color: #4682B4;
 font-size: 40px;
 text-align: right;
 padding: 5px 25px;
 word-wrap: break-word;
}

#calculator button:hover {
 background-color: #63B8FF;
}

#calculator .operator:hover {
 color: #E0EEEE;
}

#calculator button:focus {
 outline: none;
}


.display hr {
 margin: 0px;
 border-color: #E0EEEE;
}
