body {
 margin: 0, auto;
 font-family: Helvetica, sans-serif;
 background-color: #dbe7f9;
 height: 750px;
}

h1 {
 text-align: center;
 margin-bottom: 30px;
}

#calculator {
 margin: auto;
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 flex-wrap: wrap;
 width: 500px;
 height: 650px;
 box-shadow: 2px 2px 15px 2px #2F4F4F;
 border: 5px solid #2F4F4F;
}

#calculator button {
 font-size: 25px;
 border: 1px solid #2F4F4F;
 background-color: #4d4dff;
 box-shadow: inset 1px 1px 5px #2F4F4F;
 text-shadow: 1px 1px 2px #2F4F4F;
 color: #E0EEEE;
 width: 25%;
 height: 20%;
}

#calculator .operator {
 background-color: #8080ff;
 color: #2F4F4F;
}

.display {
 border: 1px solid #2F4F4F;
 background-color: #E0EEEE;
 box-shadow: inset 0px 0px 10px #2F4F4F;
 width: 74.6%;
 height: 19.6%;
}

.display_value {
 margin: 0;
 color: #2F4F4F;
 font-size: 20px;
 text-align: right;
 padding-right: 20px;
 padding-left: 20px;
 padding-top: 10px;
 word-wrap: break-word;
}

.display_eval {
 margin: 0;
 color: #4d4dff;
 font-size: 20px;
 text-align: right;
 padding-right: 20px;
 padding-left: 20px;
 padding-top: 10px;
 word-wrap: break-word;
}

#calculator button:focus {
 background-color: #8080ff;
 outline: none;
}

#calculator .operator:focus {
 color: #E0EEEE;
}

.display hr {
 border-color: #2F4F4F;
}
